body {
	background: #567;
	font-family: 'Raleway', sans-serif;
	color: #eee;
	padding: 10px;
	letter-spacing: 0.07em;
}

#upload-form input[type="submit"] {
	padding: 7px 18px;
	background: #eee;
	border: 0 none;
	cursor: pointer;
	border-radius: 5px;
}

#upload-form #spinner {
	margin-left: 0.5em;
	vertical-align: bottom;
	display: none;
}

ul#status {
	padding: 0;
}

ul#status li {
	list-style: none;
	margin-bottom: 0.5em;
}

ul.video li img {
	max-width: 350px;
	max-height: 220px;
}

video {
	max-width: 350px;
	max-height: 450px;
}

@media (min-width: 768px) {
	video {
		width: 90%;
		max-width: 1024px;
	}
}

ul.video {
	padding: 0;
}
ul.video li {
	display: inline-block;
	list-style: none;
	margin: 5px 20px 20px 0;
	width: 355px;
}

ul.video li div {
	margin-bottom: 5px;
}

h1 {
	margin-right: 20px;
	padding-bottom: 5px;
	border-bottom: #ccc 1px dotted;
}

#back {
	background: #740;
  width: 50px;
  font-size: 20pt;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;	padding: 5px;
}

#back a {
	text-decoration: none;
  color: #ccc;
  width: 50px;
  display: inline-block;
}
