body {
	background: #567;
	font-family: 'Raleway', sans-serif;
	color: #eee;
	padding: 10px;
	letter-spacing: 0.07em;
}

#upload-form input[type="submit"] {
	padding: 7px 18px;
	background: #eee;
	border: 0 none;
	cursor: pointer;
	border-radius: 5px;
}

#upload-form #spinner {
	margin-left: 0.5em;
	vertical-align: bottom;
	display: none;
}

ul#status {
	padding: 0;
}

ul#status li {
	list-style: none;
	margin-bottom: 0.5em;
}

video {
	width: 350px;
}

ul.video {
	padding: 0;
}
ul.video li {
	display: inline-block;
	list-style: none;
	margin-bottom: 20px;
	margin-top: 5px;
}

ul.video li div {
	margin-bottom: 5px;
}

h1 {
	margin-right: 20px;
	padding-bottom: 5px;
	border-bottom: #ccc 1px dotted;
}
